@font-face {
    font-family: 'Noto sans';
    src: url('./fonts/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
}
body{
    font-family: 'Noto sans';
}
.v-application{
    font-family: 'Noto sans' !important;

}